@import url('https://fonts.googleapis.com/css2?family=Karantina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');


::-moz-selection { /* Code for Firefox */
    color:black;
    background: #C41E1E;
  }
::selection {
    color:black;
    background: #C41E1E;
}

.App {
    text-align: center;
    height: 100vh;
    width:90%;
    display: flex;
    margin:0% 5%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: "Open Sans", sans-serif;

  }

  .loaded_app{
    animation-duration: 3.5s;
    animation-timing-function: ease-in-out;
    animation-name: opaciter;
  }

  .App img{
    width:30vh;
    margin-bottom: 4vh;
  }

  .loaded_img{
    animation-duration: 3.5s;
    animation-timing-function: ease-in-out;
    animation-name: loading;
  }

  .side_text{
    width:2vw;
    color:#C41E1E;
    font-weight: bold;
    font-size: 2vw;
  }


  @keyframes loading {
    0%{
      transform: translateY(0);
      opacity: 1;
    }
    50%{
      transform: translateY(0);
      opacity: 1;
    }
    100%{
      transform: translateY(-300%);
      opacity: 0;
    }
  }

  @keyframes opaciter {
    0%{
      opacity: 1;
    }
    70%{
      opacity:1;
    }
    100%{
      opacity: 0;
    }
  }

  .pop_up{
    position: fixed;
    z-index: 99;
    top:90em;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: black;
    border:rgba(255, 255, 255, 0.39) 1px solid;
    border-radius: 10px;
    color:white;
    opacity: 1;
    padding: 3%;
    transition: ease-out 2s;
}
.pop_up_wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pop_up_attention{
  color:red;
  font-size: 3vw;
}

.pop_up_wrapper p{
    font-size: 1.5vw;
}

.close_button{
    font-size: 2vw;
    background-color: red;
    padding: 1% 6%;
    border-radius: 13px;
    cursor : pointer
}

.appeared{
    transition: ease-out 2s;
    transform: translate(-50%,-80em);
}

@media (orientation:portrait) {
  .pop_up_attention{
    font-size: 9vw;
  }
  .pop_up_wrapper p{
      font-size: 4vw;
  }
  .close_button{
    font-size: 6vw;
    padding: 2% 10%;
    font-size: 6vw;
  }
  .pop_up{
    width:80%;
  }
}


h1{
    all: unset;
}
h2{
    all:unset;
}
h3{
    all:unset;
}

*{
    font-family: "Karantina";
}
body{
    background-color: black;
    color:white;
}



.reservation_banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5% 0;
}
.reservation_text{
    margin: 1% 0;
}
.reservation_banner h1{
    font-size: 5vw;
    color:#C41E1E;
    font-weight:bold;
    letter-spacing: 2px;
}

.reservation_banner h2{
    font-size: 2vw;
    color:white;
}
.banner_button{
    background-color: #C41E1E;
    width:20vw;
    padding: 1%;
    border-radius: 13px;
    margin-top: 2%;
    transition: 0.3s;
}

.banner_button:hover{
    transition: 0.3s;
    background-color: #c41e1ec2;
    scale:1.05;
}

.banner_button a{
    font-size: 3vw;
}
@media (orientation:portrait) {
    .reservation_banner h1{
        font-size: 10vw;
    }
    .reservation_banner h2{
        font-size: 4vw;
    }
    .banner_button{
        width:40vw;
        padding: 2% 3%;
    }
    .banner_button a{
        font-size: 5vw;
    }
    .reservation_banner{
        margin-bottom: 17%;
    }
    .reservation_banner div{
        margin:3% 0;
    }
}

@keyframes bottom-animation {
    0%{
      transform: translateY(10%);
      opacity: 0;
    }
    100%{
      transform: translateY(0%);
      opacity: 1;
    }
  }

.animation{
    transform: translateY(10%);
    opacity: 0;
}

.onscreen{
    transform: translateY(0%);
    opacity: 1;
    animation-duration: .7s;
    animation-name: bottom-animation;
    animation-timing-function: ease-in-out;
}



