@import url('https://fonts.googleapis.com/css?family=Karantina');


::-moz-selection { /* Code for Firefox */
    color:black;
    background: #C41E1E;
  }
::selection {
    color:black;
    background: #C41E1E;
}

h1{
    all: unset;
}
h2{
    all:unset;
}
h3{
    all:unset;
}

*{
    font-family: "Karantina";
}
body{
    background-color: black;
    color:white;
}



.reservation_banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5% 0;
}
.reservation_text{
    margin: 1% 0;
}
.reservation_banner h1{
    font-size: 5vw;
    color:#C41E1E;
    font-weight:bold;
    letter-spacing: 2px;
}

.reservation_banner h2{
    font-size: 2vw;
    color:white;
}
.banner_button{
    background-color: #C41E1E;
    width:20vw;
    padding: 1%;
    border-radius: 13px;
    margin-top: 2%;
    transition: 0.3s;
}

.banner_button:hover{
    transition: 0.3s;
    background-color: #c41e1ec2;
    scale:1.05;
}

.banner_button a{
    font-size: 3vw;
}
@media (orientation:portrait) {
    .reservation_banner h1{
        font-size: 10vw;
    }
    .reservation_banner h2{
        font-size: 4vw;
    }
    .banner_button{
        width:40vw;
        padding: 2% 3%;
    }
    .banner_button a{
        font-size: 5vw;
    }
    .reservation_banner{
        margin-bottom: 17%;
    }
    .reservation_banner div{
        margin:3% 0;
    }
}

@keyframes bottom-animation {
    0%{
      transform: translateY(10%);
      opacity: 0;
    }
    100%{
      transform: translateY(0%);
      opacity: 1;
    }
  }

.animation{
    transform: translateY(10%);
    opacity: 0;
}

.onscreen{
    transform: translateY(0%);
    opacity: 1;
    animation-duration: .7s;
    animation-name: bottom-animation;
    animation-timing-function: ease-in-out;
}



