footer{
    text-align: center;
    padding-bottom: 2%;
    padding-top: 5%;
}

.footer_wrapper{
    text-align: start;
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    margin-top: 4%;
    margin: 4% 5% 2% 5%;
}
footer hr{
    background-color: #C41E1E;
    border:none;
    height:2vh;
}

footer ul{
    list-style: none;
    padding-left: 0;
    font-size: 2vw;
}
footer li{
    padding:5% 0;
}
footer img{
    width:20vw
}
footer h1{
    font-size: 4vw;
    color:#C41E1E;
}
.footer_txt{
    margin: 0 5%;
}
footer h2{
    font-size: 1.5vw;
    letter-spacing: 1px;
    color:#c41e1ec7;
    text-align: center;
}

.signature{
    font-size: 1.5vw;
    text-decoration: none;
    transition: 0.2s;
    color:#c41e1ec7;
  }

.signature:link{
    color:#c41e1ec7;
}
.signature:visited{
    color:#c41e1ec7;
}

.signature:hover{
    color:#C41E1E;
    text-decoration:underline #C41E1E;
}

footer a{
    border-bottom: black solid 2px;
    transition: 0.5s;
}
footer a:hover{
    border-color: #C41E1E;
    transition: 0.5s;
}

@media (orientation:portrait) {
    footer h1{
        font-size: 6vw;
    }
    footer li{
        font-size: 3vw;
    }
    footer h2{
        font-size: 2vw;
    }
    .signature{
        font-size: 2vw;
    }
}
