.welcome_section{
    overflow: hidden;
    position: relative;
    height: 86vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.welcome_text{
    position: relative;
}
.jap{
    padding-top:3%;
}


.bg{
    opacity:0.4;
    position: absolute;
    left:0;
    top:1;
    width:100%;
    height:auto;
    z-index: -1;
}

.welcome_eng{
    font-size: 6vw;
}
.welcome_jap{
    font-size: 4vw;
    margin-top: 0;
    color:#C41E1E;
    font-weight: bold;
}

/*----------SCROLL text---------*/

.scroll_wrapper{
    margin-top: -8%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .scroll_wrapper p{
    font-size: 2vw;
    margin-bottom: 0;
    color:#C41E1E;
  }

  .scroll_wrapper hr{
    height:30vh;
    background-color:#C41E1E;
    border:none;
    width:.2vw
  }

  /*----------Choice Section---------*/

.choice_section{
    display: flex;
    flex-direction: column;
    margin: 5% 4%;
}

.choice_row{
    display: flex;
    justify-content: space-around;
    margin: 5% 0;
}
.choice_image img{
    width:30vw;
    height: auto;
}
.choice_title{
    font-size: 5vw;
    color:#C41E1E;
    width:35vw;
}
.left{
    text-align: end;
}
.choice_jap{
    width:2vw;
    color:#C41E1E;
    font-weight: bold;
    font-size: 2vw;
}
.or_wrap h1{
    font-size: 6vw;
}
.or_wrap{
    text-align: center;
    margin-bottom: 2%;
}

.choice_banner_wraper{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0;
}
.your_choice{
    font-size: 7vw;
    color:#C41E1E;
    font-weight:bold;
    letter-spacing: 2px;
}
.jap_choice{
    font-size: 2vw;
    color:#C41E1E;
    padding-top: 0;
}

.choice_button{
    margin-top: 3%;
}


.restaurants{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    align-items: center;
    text-align: center;
    row-gap: 5%;
    padding-bottom: 20%;
    margin-top: 15%;
}

.manchester {
    grid-column: span 2;
    text-align: center;
}

.restaurants_heading{
    grid-column: span 2;
    padding-bottom: 5%;
    color:#C41E1E;
    font-size: 6vw;
}

.restaurant img{
    width:30vw;
    height:30vw;
    object-fit: cover;
    border: solid transparent 3px;
    transition: 0.5s;
}

.restaurant img:hover{
    transition: 0.5s;
    scale: 1.05;
    border-color: #C41E1E;
}

.restaurant h1{
    font-size: 3vw;
}

.find_button{
    grid-column: span 2;
    margin: auto;
}